# Ignore dependencies
**/node_modules/

# Build outputs
**/.next/
**/dist/
**/build/

# Environment files
**/.env
**/.env.local

# Logs
**/logs
*.log

# OS/IDE specific files
.DS_Store
*.swp
.vscode/
